/* RTL Support */
html[dir='rtl'],
[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

html[dir='rtl'] button,
[dir='rtl'] button {
  text-align: right;
}

html[dir='rtl'] input,
[dir='rtl'] input {
  text-align: right;
}
